*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root {
  --nav-width: 20%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: red;
}

nav {
  background-color: black;
  position: fixed;
  width: var(--nav-width);
  height: 100vh;
}

section {
  height: 300px;
  width: calc(100% - var(--nav-width));
  float: right;
}

section:nth-child(odd) {
  background-color: yellow;
}
